workflows_n8n/ID0004_Notificaci_n_de_Afectaci_n_-_Finalizaci_n.json
{
  "id": "EcF5TTa5aRCmTcis",
  "name": "ID0004_Notificación de Afectación - Finalización",
  "createdAt": "2025-10-06T19:18:58.281Z",
  "updatedAt": "2025-12-16T19:42:23.000Z",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "60627cdc-9eb1-43c4-bfef-0eddc4f6c2ba",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        240
      ],
      "id": "5863f14c-5ae2-4a09-9c9c-3dce6a913c0a",
      "name": "Webhook",
      "webhookId": "60627cdc-9eb1-43c4-bfef-0eddc4f6c2ba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://f3da3763bda6e539974bcb2bd9bcbe.e9.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/823a64c724474b6984a43ca30fa9aa33/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BW3V7x-qgJWBCu1xSLV4SVmKKC7OEZixPJ2K-06eQtw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Anillo\": \"{{$json.Anillo}}\",\n  \"Equipos\": {{$json.Equipos}},\n  \"Servicios\": {{$json.Servicios}},\n  \"Clientes\": {{$json.Clientes}},\n  \"Horario\": \"{{$json.Horario}}\",\n  \"HorarioFin\": \"{{$json.HorarioFin}}\",\n  \"TiempoAfectacion\": \"{{$json.DuracionLegible}}\",\n  \"region\": \"{{$json.region}}\",\n  \"nombre_sitio\": \"{{$json.nombre_sitio}}\",\n  \"IR_SAP\": {{$json.IR_SAP}},\n  \"IdAfectacion\": \"{{$json.IdAfectacion}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        240
      ],
      "id": "9e3d52f5-0a23-40f3-8fd4-e6726ca043ea",
      "name": "Cierre CGE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://f3da3763bda6e539974bcb2bd9bcbe.e9.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/42b2ac56449b40aabab9de85fba095fa/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nx4pTAvaEJ39BGsLq3zN0jJzSvF6pprYxp1zB2hZzAA",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Anillo\": \"{{$json.Anillo}}\",\n  \"Equipos\": {{$json.Equipos}},\n  \"Servicios\": {{$json.Servicios}},\n  \"Clientes\": {{$json.Clientes}},\n  \"Horario\": \"{{$json.Horario}}\",\n  \"HorarioFin\": \"{{$json.HorarioFin}}\",\n  \"TiempoAfectacion\": \"{{$json.DuracionLegible}}\",\n  \"region\": \"{{$json.region}}\",\n  \"nombre_sitio\": \"{{$json.nombre_sitio}}\",\n  \"IR_SAP\": {{$json.IR_SAP}},\n  \"IdAfectacion\": \"{{$json.IdAfectacion}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        432
      ],
      "id": "1cbedd20-3a74-4e73-b423-0bd4243b4533",
      "name": "Cierre StaffME"
    },
    {
      "parameters": {
        "jsCode": "const evento = $json;\n\n// Asegurarse de que TiempoAfectacion exista y sea un número (aunque venga como string)\nconst segundosTotales = parseInt(evento.TiempoAfectacion, 10);\n\nif (isNaN(segundosTotales) || segundosTotales < 0) {\n  throw new Error(`Valor inválido en 'TiempoAfectacion': ${evento.TiempoAfectacion}`);\n}\n\n// Calcular días, horas, minutos y segundos\nconst dias = Math.floor(segundosTotales / 86400);\nconst horas = Math.floor((segundosTotales % 86400) / 3600);\nconst minutos = Math.floor((segundosTotales % 3600) / 60);\nconst segundos = segundosTotales % 60;\n\n// Formato legible: \"X días HH:mm:ss\"\nconst duracionLegible = `${dias} día${dias !== 1 ? 's' : ''} ${String(horas).padStart(2, '0')}:${String(minutos).padStart(2, '0')}:${String(segundos).padStart(2, '0')}`;\n\n// Devolver el ítem original + el nuevo campo\nreturn [\n  {\n    json: {\n      ...evento,\n      DuracionLegible: duracionLegible\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        240
      ],
      "id": "876be80d-b73e-41f9-8eaf-a17978267090",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  'Eventos_DobleApertura' as Origen, \n  da.Anillo, \n  da.Equipos, \n  da.Servicios, \n  da.Clientes, \n  da.Horario, \n  da.HorarioFin,\n  da.TiempoAfectacion,\n  da.IdAfectacion,\n  da.IR_SAP,\n  inv.region, \n  inv.nombre_sitio \nFROM Eventos.DobleApertura as da\nLEFT JOIN datos_red.inventario_equipos AS inv \n  ON inv.region_mst = SUBSTRING_INDEX(da.Anillo, '_', 1)\nWHERE da.IdAfectacion = '{{ $json.query.IdAfectacion }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        240
      ],
      "id": "519779af-3b06-4026-b32d-c6acbe227190",
      "name": "Doble Apertura",
      "credentials": {
        "mySql": {
          "id": "BKiIWGM5T5ROjiot",
          "name": "MySQL eventos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json[\"html\"] }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        64
      ],
      "id": "37245375-3133-49dc-86f1-7e3ff264a8f0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const ev = $json;\n\n// Helpers\nfunction formatTiempo(segundos) {\n  if (!segundos || isNaN(segundos)) return \"—\";\n  const h = Math.floor(segundos / 3600);\n  const m = Math.floor((segundos % 3600) / 60);\n  const s = segundos % 60;\n  return `${h}h ${m.toString().padStart(2,'0')}m ${s.toString().padStart(2,'0')}s`;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Evento Finalizado - ${ev.Anillo}</title>\n<style>\n  * { box-sizing: border-box; }\n  body {\n    margin: 0;\n    padding: 20px;\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n    background: #000000;\n    color: #f0f0f0;\n  }\n  .container {\n    max-width: 1100px;\n    margin: 0 auto;\n  }\n  header {\n    margin-bottom: 28px;\n  }\n  h1 {\n    font-size: 26px;\n    font-weight: 700;\n    margin: 0;\n    color: #ffffff;\n  }\n  .sub {\n    margin-top: 6px;\n    color: #aaaaaa;\n    font-size: 16px;\n  }\n\n  .status {\n    margin-top: 12px;\n    display: inline-block;\n    padding: 6px 14px;\n    background: #14532d;\n    color: #4ade80;\n    border-radius: 999px;\n    font-size: 13px;\n    font-weight: 600;\n  }\n\n  .cards {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 16px;\n    margin-top: 30px;\n  }\n  .card {\n    flex: 1;\n    min-width: 220px;\n    background: #1e1e1e;\n    border-radius: 14px;\n    padding: 20px;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.6);\n  }\n  .card-title {\n    font-size: 12px;\n    text-transform: uppercase;\n    letter-spacing: 0.7px;\n    color: #aaaaaa;\n    margin-bottom: 10px;\n  }\n  .card-value {\n    font-size: 20px;\n    font-weight: 700;\n    color: #ffffff;\n  }\n\n  .card-value.green { color: #4ade80; }\n  .card-value.blue { color: #60a5fa; }\n\n  footer {\n    margin-top: 36px;\n    text-align: center;\n    font-size: 12px;\n    color: #777;\n  }\n</style>\n</head>\n\n<body>\n<div class=\"container\">\n\n  <header>\n    <h1>Evento Finalizado</h1>\n    <div class=\"sub\">\n      Afectación Masivas Empresas · ${ev.region} · ${ev.nombre_sitio}\n    </div>\n    <div class=\"status\">✔ INFORMADO</div>\n  </header>\n\n  <div class=\"cards\">\n    <div class=\"card\">\n      <div class=\"card-title\">Anillo</div>\n      <div class=\"card-value\">${ev.Anillo}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Inicio</div>\n      <div class=\"card-value\">${ev.Horario}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Finalización</div>\n      <div class=\"card-value green\">${ev.HorarioFin}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Tiempo de Afectación</div>\n      <div class=\"card-value blue\">${formatTiempo(ev.TiempoAfectacion)}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Equipos</div>\n      <div class=\"card-value\">${ev.Equipos}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Servicios</div>\n      <div class=\"card-value\">${ev.Servicios}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">Clientes</div>\n      <div class=\"card-value\">${ev.Clientes}</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-title\">IR SAP</div>\n      <div class=\"card-value\">${ev.IR_SAP}</div>\n    </div>\n  </div>\n\n  <footer>\n    Evento informado automáticamente por el sistema de monitoreo\n    <br>ID Afectación: ${ev.IdAfectacion}\n  </footer>\n\n</div>\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      canal: \"Afectación Masivas Empresas\",\n      tipo: \"Cierre de Evento\",\n      html\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        64
      ],
      "id": "fe0b9362-bcf1-4bff-872f-684caac679c4",
      "name": "Html"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Doble Apertura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        []
      ]
    },
    "Doble Apertura": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          },
          {
            "node": "Html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Html": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-06T19:18:58.283Z",
      "createdAt": "2025-10-06T19:18:58.283Z",
      "role": "workflow:owner",
      "workflowId": "EcF5TTa5aRCmTcis",
      "projectId": "QdIaKjwyS02MMGZQ",
      "project": {
        "updatedAt": "2025-09-11T18:10:14.443Z",
        "createdAt": "2025-09-11T18:03:44.820Z",
        "id": "QdIaKjwyS02MMGZQ",
        "name": "Soporte Acceso Empresas  Empresas <saf.empresas@claro.com.ar>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-11T18:03:44.820Z",
            "createdAt": "2025-09-11T18:03:44.820Z",
            "userId": "4facc838-fc29-4888-93e5-fd2ef787b161",
            "projectId": "QdIaKjwyS02MMGZQ",
            "user": {
              "updatedAt": "2026-01-20T10:00:04.000Z",
              "createdAt": "2025-09-11T18:03:44.372Z",
              "id": "4facc838-fc29-4888-93e5-fd2ef787b161",
              "email": "saf.empresas@claro.com.ar",
              "firstName": "Soporte Acceso Empresas",
              "lastName": " Empresas",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-11T18:11:25.739Z",
                "personalization_survey_n8n_version": "1.110.1",
                "automationGoalDevops": [
                  "ticketing-systems-integrations"
                ],
                "companyIndustryExtended": [
                  "telecoms"
                ],
                "companySize": "1000+",
                "companyType": "other",
                "role": "devops",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "qNvPVx6pVl6SWob0",
                "userActivatedAt": 1758135955025,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759778484200
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "versionId": "5607d51d-ea89-4f2a-a71c-fbec7dd4842e",
  "triggerCount": 1,
  "staticData": null,
  "pinData": {}
}