workflows_n8n/ID0013_HP_SYTEX_AP.json
{
  "id": "4SAnIiV30PQglv8y",
  "name": "ID0013_HP_SYTEX_AP",
  "createdAt": "2025-10-07T18:39:54.298Z",
  "updatedAt": "2025-11-03T15:20:22.000Z",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -176
      ],
      "id": "d30624b6-5d6a-4534-9180-0c53e3dc8c7e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    SF.codigo_workflow AS wbs,\n    SF.codigo_formulario AS form,\n    SF.id_formulario,\n    SF.estado_formulario AS estado,\n    SF.fecha_creacion,\n    SF.nombre_creador,\n    SF.url,\n\n    -- Pivot de respuestas\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Describa tarea a realizar:' THEN SR.valor_respuesta END) AS tarea,\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Indique Ejecutante' THEN SR.valor_respuesta END) AS ejecutante,\n    MAX(CASE WHEN SR.etiqueta_pregunta = '¿Afecta a Clientes Mercado Empresa?' THEN SR.valor_respuesta END) AS afecta_clientes,\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Hora de inicio:' THEN SR.valor_respuesta END) AS hora_inicio,\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Área requirente de Claro:' THEN SR.valor_respuesta END) AS requirente,\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Razón Social Proveedor:' THEN SR.valor_respuesta END) AS proveedor,\n    MAX(CASE WHEN SR.etiqueta_pregunta = 'Fecha estimada de ejecución:' THEN SR.valor_respuesta END) AS fecha_estimada,\n    MAX(CASE WHEN SR.etiqueta_pregunta = '¿La tarea requiere ACCIÓN de SAE?' THEN SR.valor_respuesta END) AS accion_sae,\n\n    -- Nuevo campo: código del proyecto (solo uno por formulario)\n    MIN(SR.codigo_proyecto) AS codigo_proyecto\n\nFROM sytex_formularios AS SF\nJOIN sytex_respuestas AS SR \n    ON SR.codigo_formulario = SF.codigo_formulario\n    AND SR.etiqueta_pregunta IN (\n        'Describa tarea a realizar:',\n        'Indique Ejecutante',\n        '¿Afecta a Clientes Mercado Empresa?',\n        'Hora de inicio:',\n        'Área requirente de Claro:',\n        'Razón Social Proveedor:',\n        'Fecha estimada de ejecución:',\n        '¿La tarea requiere ACCIÓN de SAE?'\n    )\nWHERE SF.estado_formulario = 'Enviado'\nGROUP BY \n    SF.codigo_workflow,\n    SF.codigo_formulario,\n    SF.id_formulario,\n    SF.estado_formulario,\n    SF.fecha_creacion,\n    SF.nombre_creador,\n    SF.url;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -192,
        -176
      ],
      "id": "7c6e5406-fd35-46f3-8c44-98acd25a5232",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "uNW6TD2qlwo9AR01",
          "name": "MySQL crm"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recorre cada elemento de entrada\nconst tareas = [];\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  // Normaliza valores por seguridad\n  const accionSAE = t.accion_sae?.trim().toLowerCase();\n  const ejecutante = t.ejecutante?.trim().toLowerCase();\n\n  // Lógica de negocio para el nuevo campo \"aprobar\"\n  if (accionSAE !== \"si\" && ejecutante !== \"soporte acceso empresas - sae\") {\n    t.aprobar = \"Ingeniero\";\n  } else {\n    t.aprobar = \"Especialista\";\n  }\n\n  // Nueva lógica: asignar nombre de proyecto según el código\n  switch (t.codigo_proyecto) {\n    case \"PR-23-0279\":\n      t.proyecto = \"SAE-CRÍTICO-IMPLEMENTACIONES ISA\";\n      break;\n    case \"PR-23-0996\":\n      t.proyecto = \"SAE-NO CRÍTICO-IMPLEMENTACIONES ISA\";\n      break;\n    case \"PR-23-0343\":\n      t.proyecto = \"SAE-CRÍTICO-CONFIGURACION/UPGRADES\";\n      break;\n    case \"PR-23-0344\":\n      t.proyecto = \"SAE-NO CRÍTICO-CONFIGURACION/UPGRADES\";\n      break;\n    case \"PR-23-0345\":\n      t.proyecto = \"SAE-EMERGENCIA DE RED\";\n      break;\n    default:\n      t.proyecto = \"SIN CLASIFICAR\";\n  }\n\n  // Agrega el resultado al arreglo de tareas\n  tareas.push({\n    wbs: t.wbs,\n    form: t.form,\n    estado: t.estado,\n    tarea: t.tarea,\n    ejecutante: t.ejecutante,\n    afecta_clientes: t.afecta_clientes,\n    hora_inicio: t.hora_inicio,\n    requirente: t.requirente,\n    proveedor: t.proveedor,\n    fecha_estimada: t.fecha_estimada,\n    accion_sae: t.accion_sae,\n    codigo_proyecto: t.codigo_proyecto,\n    proyecto: t.proyecto,\n    aprobar: t.aprobar,\n    fecha_creacion: t.fecha_creacion,\n    nombre_creador: t.nombre_creador,\n    url: t.url\n  });\n}\n\n// Devuelve la salida en el formato solicitado\nreturn [\n  {\n    json: {\n      tareas: tareas\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -176
      ],
      "id": "3945010c-713b-47c6-b5ef-2503c620298f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://f3da3763bda6e539974bcb2bd9bcbe.e9.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/d69a08f54f5e4d7b81f935d8a60f698f/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Bmmj0OoesacEw7IKkHM564ZXXUYOz61X7vjsY_7m2r8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tareas",
              "value": "={{ $json.tareas }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -176
      ],
      "id": "df26bc80-b8a0-4ed6-bc39-e486b1162d79",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-07T18:39:54.301Z",
      "createdAt": "2025-10-07T18:39:54.301Z",
      "role": "workflow:owner",
      "workflowId": "4SAnIiV30PQglv8y",
      "projectId": "QdIaKjwyS02MMGZQ",
      "project": {
        "updatedAt": "2025-09-11T18:10:14.443Z",
        "createdAt": "2025-09-11T18:03:44.820Z",
        "id": "QdIaKjwyS02MMGZQ",
        "name": "Soporte Acceso Empresas  Empresas <saf.empresas@claro.com.ar>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-11T18:03:44.820Z",
            "createdAt": "2025-09-11T18:03:44.820Z",
            "userId": "4facc838-fc29-4888-93e5-fd2ef787b161",
            "projectId": "QdIaKjwyS02MMGZQ",
            "user": {
              "updatedAt": "2025-11-26T10:00:04.000Z",
              "createdAt": "2025-09-11T18:03:44.372Z",
              "id": "4facc838-fc29-4888-93e5-fd2ef787b161",
              "email": "saf.empresas@claro.com.ar",
              "firstName": "Soporte Acceso Empresas",
              "lastName": " Empresas",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-11T18:11:25.739Z",
                "personalization_survey_n8n_version": "1.110.1",
                "automationGoalDevops": [
                  "ticketing-systems-integrations"
                ],
                "companyIndustryExtended": [
                  "telecoms"
                ],
                "companySize": "1000+",
                "companyType": "other",
                "role": "devops",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "qNvPVx6pVl6SWob0",
                "userActivatedAt": 1758135955025,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759778484200
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "versionId": "a45924ad-846b-4542-8f84-7066d2ab97c1",
  "triggerCount": 0,
  "staticData": null,
  "pinData": {}
}