workflows_n8n/ID0003_Notificaci_n_de_Afectaci_n_-_AVISO_MANUAL.json
{
  "id": "qX4VD0L9LbctTMlv",
  "name": "ID0003_Notificación de Afectación - AVISO MANUAL",
  "createdAt": "2025-10-24T16:07:55.610Z",
  "updatedAt": "2025-11-03T16:35:16.000Z",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  'Eventos_DobleApertura' as Origen, \n  da.Anillo, \n  da.Equipos, \n  da.Servicios, \n  da.Clientes, \n  da.Horario, \n  da.IdAfectacion,\n  da.Escalamiento,\n  inv.region, \n  inv.nombre_sitio,\n  da.IR_SAP\nFROM Eventos.DobleApertura as da\nLEFT JOIN datos_red.inventario_equipos AS inv \n  ON inv.region_mst = SUBSTRING_INDEX(da.Anillo, '_', 1)\nWHERE da.IR_SAP = {{ $json.incidente }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        256,
        48
      ],
      "id": "fe5d60a0-461a-49db-9eca-cbd40497fb87",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "bPd34mauVIxhLee1",
          "name": "MySQL NNMi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://f3da3763bda6e539974bcb2bd9bcbe.e9.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/742718fdbb754725b363a1128023bf3a/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=KP1iN31pbMqQJf8QzVlMDyyatOa3r2pYRsnHmYEMlqE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Origen\": \"{{$json[\"Origen\"]}}\",\n  \"Anillo\": \"{{$json[\"Anillo\"]}}\",\n  \"Equipos\": {{$json[\"Equipos\"]}},\n  \"Servicios\": {{$json[\"Servicios\"]}},\n  \"Clientes\": {{$json[\"Clientes\"]}},\n  \"Horario\": \"{{$json[\"Horario\"]}}\",\n  \"Estado\": \"={{$json[\"Estado\"]}}\",\n  \"IdAfectacion\": \"{{$json[\"IdAfectacion\"]}}\",\n  \"region\": \"{{ $json.region }}\",\n  \"nombre_sitio\": \"{{ $json.nombre_sitio }}\",\n  \"nombre_sitio\": \"{{ $json.IR_SAP }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        48
      ],
      "id": "795cadb2-0749-44dc-bcdc-b17f92d4b216",
      "name": "Aviso a CGE"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        48
      ],
      "id": "63639114-2c75-4dcc-9a2b-52893f12a475",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aviso a CGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-24T16:07:55.616Z",
      "createdAt": "2025-10-24T16:07:55.616Z",
      "role": "workflow:owner",
      "workflowId": "qX4VD0L9LbctTMlv",
      "projectId": "QdIaKjwyS02MMGZQ",
      "project": {
        "updatedAt": "2025-09-11T18:10:14.443Z",
        "createdAt": "2025-09-11T18:03:44.820Z",
        "id": "QdIaKjwyS02MMGZQ",
        "name": "Soporte Acceso Empresas  Empresas <saf.empresas@claro.com.ar>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-11T18:03:44.820Z",
            "createdAt": "2025-09-11T18:03:44.820Z",
            "userId": "4facc838-fc29-4888-93e5-fd2ef787b161",
            "projectId": "QdIaKjwyS02MMGZQ",
            "user": {
              "updatedAt": "2025-11-21T10:00:04.000Z",
              "createdAt": "2025-09-11T18:03:44.372Z",
              "id": "4facc838-fc29-4888-93e5-fd2ef787b161",
              "email": "saf.empresas@claro.com.ar",
              "firstName": "Soporte Acceso Empresas",
              "lastName": " Empresas",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-11T18:11:25.739Z",
                "personalization_survey_n8n_version": "1.110.1",
                "automationGoalDevops": [
                  "ticketing-systems-integrations"
                ],
                "companyIndustryExtended": [
                  "telecoms"
                ],
                "companySize": "1000+",
                "companyType": "other",
                "role": "devops",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "qNvPVx6pVl6SWob0",
                "userActivatedAt": 1758135955025,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759778484200
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "versionId": "67da6eba-4074-48a7-8d5e-8e0f44f06f63",
  "triggerCount": 0,
  "staticData": null,
  "pinData": {}
}